---
permalink: /feed.xml
layout: null
sitemap:
  ignore: true
---

{%- assign posts_by_date = collections.allPosts | sort: "date" | reverse -%}
{%- assign latest_post = posts_by_date | first -%}

<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.title }}</title>
    <link>{{ site.url }}</link>
    <description>{{ site.description }}</description>
    <language>en</language>
    <lastBuildDate>{{ latest_post.date | date: '%a, %d %b %Y %H:%M:%S %z' }}</lastBuildDate>
    <atom:link href="{{ site.url }}/feed.xml" rel="self" type="application/rss+xml" />
    {% for post in posts_by_date %}
      <item>
        <title>{{ post.data.title }}</title>
        <link>{{ site.url }}{{ post.url }}</link>
        <guid>{{ site.url }}{{ post.url }}</guid>
        <description><![CDATA[{{ post.data.description | escape }}]]></description>
        <pubDate>{{ post.date | date: '%a, %d %b %Y %H:%M:%S %z' }}</pubDate>
      </item>
    {% endfor %}
  </channel>
</rss>
