
{% assign data = post.data %}
{% assign color = data.color %}
{% assign featured = data.featured %}
{% assign latest = data.latest %}
{% assign seriesInfo = data.seriesInfo %}

<li
  {% if featured %} class="featured"
  {% elsif latest %} class="latest" style="background-color: {{ color }}"
  {% elsif seriesInfo %} class="standalone"
  {% endif %}
  data-updated="{{ data.updated | toISO }}"
  data-length="{{ data.length | default: 0 }}"
>
  {% if latest %}
    <div><span class="tag" style="color: {{ color }}">Latest</span></div>
  {% elsif featured %}
    <div><span class="tag">Featured</span></div>
  {% elsif seriesInfo %}
    <div><span class="tag" style="color: {{ color }}">
      {{ site[data.series].title }}: {{ seriesInfo.current }} of {{ seriesInfo.total }}
    </span></div>
  {% elsif data.series %}
    <div><span class="tag">Series</span></div>
  {% endif %}

  <a style="color: {{ color }}" href="{{ post.url }}">{{ data.title }}</a>
  <p>
    {{ data.category }} <span>•</span> {{ data.length }} min read <span>•</span> 
    <time datetime="{{ data.updated | toISO }}">{{ data.updated | toLocal }}</time>
  </p>
</li>
