<div class="posts-view">
  <div class="switch-wrapper">
    <span class="switch-label">Group by series</span>
    <label class="switch" for="posts-view-switch">
      <input id="posts-view-switch" type="checkbox" aria-label="Toggle posts view" />
      <span class="slider" aria-hidden="true"></span>
    </label>
  </div>

  <ol class="list series-list">
    {% for item in groupedPosts %}
      {% if not categoryFilter or item.category == categoryFilter %}
        {% if item.type == 'series' %}
          <li class="series">
            <div><span class="tag" style="color: {{ item.color }}">{{ item.posts.size }}-part Series</span></div>
            <a style="color: {{ item.color }}" href="{{ item.posts[0].url }}">{{ item.title }}</a>
            <p>{{ item.category }}</p>
          </li>
        {% else %}
          {% render 'layouts/card-standalone', post: item.post, site: site %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </ol>

  <ol class="list standalone-list" style="display:none">
    {% for post in standalonePosts %}
      {% if not categoryFilter or post.data.category == categoryFilter %}
        {% render 'layouts/card-standalone', post: post, site: site %}
      {% endif %}
    {% endfor %}
  </ol>
</div>