
{% assign data = post.data %}
{% assign color = data.color %}
{% assign seriesInfo = data.seriesInfo %}

<li
  {% if seriesInfo %} class="standalone-view"
  {% endif %}
  data-updated="{{ data.updated | toISO }}"
  data-length="{{ data.length | default: 0 }}"
  data-reading-order="{{ data.order | default: 0 }}"
>
  {% if seriesInfo %}
    <div><span class="tag" style="color: {{ color }}">
      <span>{{ site[data.series].title }}</span>
      <span>{{ seriesInfo.current }} of {{ seriesInfo.total }}</span>
    </span></div>
  {% else %}
    <div><span class="tag" style="color: {{ color }}">Standalone</span></div>
  {% endif %}

  <a style="color: {{ color }}" href="{{ post.url }}">
    {{ data.title }}
  </a>

  <p>
    {{ data.category }} <span>•</span>
    {{ data.length }} min read <span>•</span> 
    <time datetime="{{ data.updated | toISO }}">{{ data.updated | toLocal }}</time>
  </p>

  {% if seriesInfo %}
    <div class="series-bar">
      {% for post in seriesInfo.posts %}
        <div class="series-segment" {% if forloop.index == seriesInfo.current %}style="background: {{ color }}"{% endif %}></div>
      {% endfor %}
    </div>
  {% else %}
    <div class="series-bar">
      <div class="series-segment" style="background: {{ color }}"></div>
    </div>
  {% endif %}
</li>
