{% if mode == 'series-overview' %}
  {%- assign isSeriesOverview = true -%}
  {%- assign color = series.color -%}
  {%- assign title = series.title -%}
  {%- assign url = series.posts[0].url -%}
  {%- assign category = series.category -%}
{% else %}
  {%- assign isSeriesOverview = false -%}
  {%- assign data = post.data -%}
  {%- assign color = data.color -%}
  {%- assign seriesInfo = data.seriesInfo -%}
  {%- assign title = data.title -%}
  {%- assign url = post.url -%}
  {%- assign category = data.category -%}
{% endif %}

<li
  {% if isSeriesOverview %} class="series"
  {% elsif seriesInfo %} class="standalone-view" {% endif %}
  {% unless isSeriesOverview %}
  data-updated="{{ data.updated | toISO }}"
  data-length="{{ data.length | default: 0 }}"
  data-reading-order="{{ data.order | default: 0 }}"
  {% endunless %}
>
  <div><span class="tag" style="color: {{ color }}">
    {% if isSeriesOverview %}
      {{ series.posts.size | append: '-part Series' }}
    {% elsif seriesInfo %}
      {{ site[data.series].title }} <span>•</span>
      {{ seriesInfo.current }} of {{ seriesInfo.total }}
    {% else %}
      Standalone
    {% endif %}
  </span></div>
  
  <a style="color: {{ color }}" href="{{ url }}">
    {{ title }}
  </a>
  
  <p>
    {{ category }}
    {% unless isSeriesOverview %}
      {% if seriesInfo or mode == 'standalone-list' %}
        <span>•</span>
        {{ data.length }} min read <span>•</span> 
        <time datetime="{{ data.updated | toISO }}">{{ data.updated | toLocal }}</time>
      {% endif %}
    {% endunless %}
  </p>
  
  <div class="series-bar">
    {% if isSeriesOverview %}
      {% for p in series.posts %}
        <div class="series-segment" style="background: {{ color }}"></div>
      {% endfor %}
    {% elsif seriesInfo %}
      {% for p in seriesInfo.posts %}
        <div class="series-segment" {% if forloop.index == seriesInfo.current %}style="background: {{ color }}"{% endif %}></div>
      {% endfor %}
    {% else %}
      <div class="series-segment" style="background: {{ color }}"></div>
    {% endif %}
  </div>
</li>