<ol class="list series-list">
  {% for item in filteredGroupedPosts %}
    {% if item.type == 'series' %}
      <li class="series">
        <div>
          <span class="tag" style="color: {{ item.color }}">
            {{ item.posts.size }}-part Series
          </span>
        </div>
        
        <a style="color: {{ item.color }}" href="{{ item.posts[0].url }}">
          {{ item.title }}
        </a>
        <p>{{ item.category }}</p>

        <div class="series-bar">
          {% for post in item.posts %}
            <div class="series-segment" style="background: {{ item.color }}"></div>
          {% endfor %}
        </div>
      </li>
    {% else %}
      {% render 'layouts/card-standalone', post: item.post, site: site %}
    {% endif %}
  {% endfor %}
</ol>

<ol class="list standalone-list">
  {% for item in filteredGroupedPosts %}
    {% if item.type == 'standalone' %}
      {% render 'layouts/card-standalone', post: item.post, site: site %}
    {% else %}
      {% for post in item.posts %}
        {% render 'layouts/card-standalone', post: post, site: site %}
      {% endfor %}
    {% endif %}
  {% endfor %}
</ol>