<h1 class="title">{{ title }}</h1>
<p class="description">{{ description }}</p>
<p class="meta tag">
  <span>{{ category }}</span>
  <span>{{ length }} min read</span>
  <span class="post-last-updated">
    Updated <time datetime="{{ updated | toISO }}">{{ updated | toLocal }}</time>
  </span>
</p>

{% if isSeries %}
  <div class="series-links">
    <h2 class="meta series">
      {{ series_title }}: {{ series.current }} of {{ series.total }}
    </h2>

    <nav aria-label="Series navigation">
      <ol class="meta">
        {% for post in series.posts %}
          <li>
            <a 
              href="{{ post.url }}" 
              class="series-item" 
              {% if series.current == forloop.index %}
                aria-current="page"
              {% endif %}
            >
              <span class="series-left">
                {{ forloop.index }}. {{ post.data.title }}
              </span>
              <span class="series-right">
                {{ post.data.length }} min read
              </span>
            </a>
          </li>
        {% endfor %}
      </ol>
    </nav>
  </div>
{% endif %}