---
layout: layouts/base
---

{% if series %} 
  {% assign color = site.series[series].color %}
  {% assign series_title = site.series[series].title %}
{% endif %}

<style>
  .main-nav ul { background: rgba(255, 255, 255, 0.085); }
  .main-nav, .main-nav li:hover { color: white; }
  header h1, .content h2, figcaption, .number { color: {{ color }}; }
  header, .main-nav, .content figure::before { background: {{ color }}; }
  .toc li.active { border-left: 4px solid {{ color }}; }
</style>

<article>
  <header>
    <div>
      {% render 'layouts/header',
        title: title,
        description: description,
        category: category,
        length: length,
        isSeries: series, 
        series: seriesInfo, 
        series_title: series_title,
        updated: updated,
      %}
    </div>
  </header>

  <div class="wrapper">
    {% render 'layouts/toc' %}
    <section class="content">
      {{ content }}

      {% if next %}
        <p class="next-link meta">
          Read next: <a href="{{ next.url }}" rel="next">{{ next.title }}</a>
        </p>
      {% endif %}
    </section>
  </div>
</article>